.about-description {
  width: 80%;
  padding: 2rem;
  text-align: center;
}

.about-description p {
  font-weight: bold;
  font-size: 1.4rem;
  text-indent: 2rem;
  text-align: left;
}

.about-description a {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--anchor-color);
}

.about-description a:hover {
  scale: 104%;
}

.find-makerspace-image {
  /* border: 4px solid black; */
  /* width: 20rem; */
  height: 20rem;
}

.find-makerspace-image img {
  border: 4px solid black;
  padding: 1rem;
  max-width: 98%;
  max-height: 98%;
  object-fit: contain;
}

.about-img {
  border: 4px solid black;
  width: 50rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 98%;
  height: 98%;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .about-description {
    width: 100%;
    padding: 2rem;
  }
  .about-img {
    width: 90%;
  }
}
