.info-container {
  border: 4px solid black;
  padding: 0.25rem;
  width: 48%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info-key {
  width: 5rem;
  margin: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.info-value {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.tech-tag-div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
}

.tech-tag {
  border: 2px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .info-container {
    width: 100%;
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .info-container {
    width: 100%;
  }
}