#navbar {
  border: 4px solid black;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

#navbar > ul > li {
  color: var(--font-color);
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

#nav-ham {
  display: none;
  width: 100%;
}

#nav-ham > button {
  padding: 0.4rem;
  height: 4rem;
  width: 4rem;
  color: black;
}

@media screen and (max-width: 900px) {
  #navbar {
    flex-direction: column;
  }

  #nav-ham {
    display: flex;
  }

  #nav-menu {
    display: none;
  }

  #nav-menu.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  #nav-menu.active {
    /* border: 2px solid red; */
    /* height: 100%; */
  }
}
